.recommendedvideos{
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 24px 54px;
    padding-bottom: 0;
  
}
.recommendedvideos > h2{
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.recommendedvideos_videos{
    display: flex;
  flex: 0.8;
  flex-wrap: wrap;
  /*added width 
  width: 80vw;*/
  
}