

.videoCard{
    width:320px;
    margin-bottom : 40px;
    height: 280px;

}
.videoCard_thumbnail{
    height: 166px;
    width: 300px;
    border-radius: 15px;
}
.videoCard_info{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}
.videoCard_text {
    margin-left: 15px;
}
.videoCard_text .para{
    font-weight: 649;
    color: black;
}

.videoCard_text > p{
    font-size: 14px;
    color: gray;
}
.videoCard_avatar{
    height: 30px !important;
    width: 30px !important;
}